$color-white: #fff;
$color-black: #000; 
$color-red: #ff4d58;
$color-pink: #df2189;
$color-silver: #7f8c8d;
$color-sliver-light: #aaa;
$color-sliver-light-1: #d4cfcf;
$color-sliver-light-2: #f6f6fb;
$color-black-dark: #1c1d1f;
$color-sliver-dark: #777;
$color-orange: #FBBF24;
$color-green: #34d399; 


// RESPONESIVE
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;



