* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 16px;
}

.btn-default {
  background: linear-gradient(to right, #ff4d58, #df2189);
  color: #fff;
  text-decoration: none;
  line-height: 4.5rem;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  padding: 0 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-white {
  background: linear-gradient(to right, #fff, #fff);
  color: #000;
  text-decoration: none;
  line-height: 3rem;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  padding: 0 0.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.pr {
  position: relative;
}

.group {
  margin-bottom: 1.3rem;
}
.group__controll {
  display: block;
  width: 100%;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.6rem;
  border: 1px solid #7f8c8d;
  height: 5rem;
  padding: 0 2rem;
}
.group span {
  text-align: right;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 90%, 0% 100%);
          clip-path: polygon(0 1%, 100% 1%, 100% 90%, 0% 100%);
}
.header__logo {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
}
.header__logo img {
  width: 15rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: headerImage 0.5s linear;
          animation: headerImage 0.5s linear;
}
@-webkit-keyframes headerImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes headerImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__contents__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header__contents__text__child__h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  line-height: 2.7rem;
  -webkit-animation: heading 1s ease-in;
          animation: heading 1s ease-in;
}
@-webkit-keyframes heading {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heading {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header__contents__text__child__p {
  margin: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
  -webkit-animation: subHeading 1s ease-in;
          animation: subHeading 1s ease-in;
}
@-webkit-keyframes subHeading {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes subHeading {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header__contents__text__child__link {
  -webkit-animation: headingButton 1s ease-in;
          animation: headingButton 1s ease-in;
}
@-webkit-keyframes headingButton {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes headingButton {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.model {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.model__heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.model__body {
  background: #fff;
  width: 38rem;
  height: auto;
  padding: 2rem;
  font-size: 1.4rem;
}
.model ::-moz-placeholder {
  color: #1c1d1f;
  font-size: 1.7rem;
}
.model :-ms-input-placeholder {
  color: #1c1d1f;
  font-size: 1.7rem;
}
.model ::placeholder {
  color: #1c1d1f;
  font-size: 1.7rem;
}

.destinations {
  margin: 8rem 0;
}
.destinations__heading {
  font-size: 2.8rem;
  color: #000;
  font-weight: 500;
  width: 60%;
  line-height: 4rem;
  position: relative;
}
.destinations__heading::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0;
  width: 40%;
  height: 0.2rem;
  background: #ff4d58;
}
.destinations__heading__paragraph {
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #aaa;
  font-weight: 400;
}
.destinations__block {
  margin-top: 6rem;
}
.destinations__card {
  width: 100%;
  height: 35rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.destinations__card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destinations__card__layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(to bottom, transparent 30%, #000);
  padding: 2rem;
  color: #fff;
}
.destinations__card__layer__content {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
.destinations__card__layer__content__country {
  font-size: 1.5rem;
  margin-left: 0.4rem;
}
.destinations__card__info {
  position: absolute;
  top: 25%;
  left: 0;
  width: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff4d58, #df2189);
  visibility: hidden;
  transition: all 0.5s linear;
}
.destinations__card__info__text {
  transform: rotate(-90deg);
}
.destinations__card:hover .destinations__card__info {
  width: 100%;
  transform: rotate(90deg);
  visibility: visible;
}/*# sourceMappingURL=main.css.map */